[Desktop Entry]
Encoding=UTF-8
Name=Link to Centralidad en un Grafo
Type=Link
URL=https://algoritmos-rw.github.io/algo2/material/apuntes/centralidad/
Icon=text-html
